<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>en the map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7D6A9981D0F631200980625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7E88D351CFBC23400DA5AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7E88D491CFBC23400DA5AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7E88D541CFBC23400DA5AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
